{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Entrar no To Do list{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card auth-card">
            <div class="card-body">
                <h4 class="card-title text-center">Entrar no To Do List</h4>

                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    <!--quando precisa de autentificação o django redireciona para o login e salva a url no parametro next, e quando logar o user vai pra essa url-->
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                </form>

                <p class="change-form-p">Caso queira criar uma nova conta, <a href="/accounts/register">clique aqui.</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
clique aquiclique aqui